.post {
    @apply font-body max-w-full mx-auto
    md:max-w-4xl;
}

.post-title {
    @apply mb-8 text-4xl leading-tight text-center font-light font-subheading py-8 tracking-wide
    md:text-6xl
    sm:text-5xl;
}

.featuredImage {
    @apply w-full h-auto max-h-[280px] object-cover rounded-xl;
}

.posted-on {
    @apply py-10 italic;
}

.post-content {
    @apply mb-4 text-lg leading-relaxed font-light text-left font-body max-w-2xl mx-auto
    md:text-xl ;
}

.post-content h2 {
    @apply my-4 text-2xl font-normal text-left font-subheading tracking-wide
    md:text-3xl;
}

.post-content h3 {
    @apply my-4 text-xl font-normal text-left font-subheading tracking-wide
    md:text-2xl
    sm:text-2xl;
}

.post-content h4 {
    @apply mb-4 text-lg font-normal text-left font-subheading
    md:text-xl;
}

.post-content p {
    @apply w-full text-base font-normal pb-6 py-6 leading-relaxed
    md:text-lg;
}

.post-content a {
    @apply relative text-lavender hover:underline focus:underline transition-colors duration-150;
}

.post-content img {
    @apply w-full h-auto object-contain my-8 rounded-lg shadow-sm border border-gray-200;
}

blockquote {
    quotes: '\201C' '\201D' '\2018' '\2019';
    @apply border-l-4 border-pale-pink p-4 my-8 mx-4 bg-pale-pink/10 rounded-xl before:text-8xl
    before:leading-6 before:mr-16 before:align-[-0.4rem];
}

blockquote:before {
    content: open-quote;
    @apply text-pale-pink opacity-80;
}

.post-content ol {
    @apply py-4 list-decimal ml-8 text-left text-base
    md:text-lg;
}

.post-content ol ol {
    @apply list-[lower-alpha] ml-8 text-left text-base
    md:text-lg;
}

.post-content ul {
    @apply py-4 list-disc ml-8 text-left text-base
    md:text-lg;
}

.post-content ul ul {
    @apply list-[circle] ml-8;
}

.post-content figure {
    @apply mt-6 mx-auto w-full;

    img {
        @apply object-cover object-center;
    }
}

.post-content figcaption {
    @apply text-center text-[#afc2cb];
}
