@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: linear-gradient(223.45deg, #dba8da -29.19%, #4265a7 59.55%, #dba8da 146.99%);
  @apply min-h-screen pt-4 px-4 relative flex flex-col justify-between;
}
