@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: linear-gradient(144.81deg, #d8a4dc 0%, #7b84c1 39.5%, #1d64a5 100%);
  @apply min-h-screen p-4 relative;
}

@layer utilities {
}
