.content-container {
  @apply text-lg flex flex-col gap-6 w-full items-center font-extralight mb-8 max-w-md
  sm:max-w-md sm:text-lg
  md:max-w-xs
  lg:max-w-md;
}

.content-container > h3 {
  @apply text-2xl;
}

form {
  @apply flex flex-col gap-1 font-light w-full max-w-md border-none
  sm:max-w-md
  md:max-w-xs
  lg:min-w-[28rem];
}

form label {
  @apply mt-2;
}

form input {
  @apply rounded-lg pl-1 bg-white text-black h-9 shadow-inner shadow-black;
}

.honey-pot {
  display: none;
}

.submit-button {
  @apply relative rounded-lg border-[1.5px] border-white h-12 w-1/2 overflow-hidden self-end mt-6 shadow-2xl
  transition-all duration-300 before:absolute before:bottom-0 before:left-0 before:right-0 before:top-0 before:m-auto
  before:h-0 before:w-0 before:rounded-lg before:bg-white/15 before:duration-300 before:ease-out hover:text-white
  hover:shadow-none hover:before:h-full hover:before:w-full hover:before:opacity-80;
}

.submit-button > span {
  @apply relative z-10;
}
