.navbarContainer {
  @apply h-20 w-full fixed top-0 left-0 right-0 z-50 bg-transparent font-subheading flex flex-col justify-end
  backdrop-blur-[10px]
  px-4
  md:px-12
  lg:px-24;

  .navbarArea {
    @apply h-fit w-full flex justify-start items-end gap-2 border-b-2 border-b-white
    md:max-w-[44%];

    .linkContainer {
      @apply w-fit h-fit relative;

      .link {
        @apply w-fit flex p-2 font-light text-white font-subheading text-xl rounded-lg hover:bg-lavender
        active:bg-lavender/60 transition-all duration-300
        min-[0px]:text-[20px];
      }
    }
  }
}
