.navbarContainer {
  @apply h-20 w-full fixed top-0 left-0 right-0 z-10 bg-black/60 font-subheading box-border flex flex-col justify-end
  px-4
  md:px-12
  lg:px-24;

  .navbarArea {
    @apply h-fit w-full flex justify-start items-end border-b-2 border-b-white
    md:max-w-[44%];

    .linkContainer {
      @apply w-fit h-fit;

      .link {
        @apply w-fit flex p-2 font-light text-white font-subheading text-xl rounded-lg hover:bg-lavender
        active:bg-lavender/60 transition-all duration-300
        min-[0px]:text-[20px];
      }
    }
  }
}

