.banner-section {
  background-clip: content-box;
  @apply w-full min-h-[auto] max-h-full rounded-[3.5vw] grid grid-cols-2 grid-rows-2 place-items-center bg-gradient-to-b
  from-transparent to-gray-800
  md:to-gray-950/40;
}

.background-clouds {
  @apply relative w-full object-cover z-[-1] rounded-[3.5vw] col-span-full row-span-full
  lg:max-h-[44vw];
}

.banner-content-container {
  @apply tracking-widest col-span-full row-span-full
  md:col-start-1 md:col-end-2 md:row-start-2 md:row-end-auto md:max-w-[24.3rem]
  lg:max-h-full lg:max-w-full lg:items-center;
}

.banner-content {
  @apply flex flex-col justify-center items-center;
}

.banner-content > h3 {
  @apply font-normal text-sm
  md:text-xs md:self-end
  lg:text-lg lg:font-light;
}

.banner-content > h1 {
  @apply font-light text-5xl my-1.5 uppercase
  sm:my-2 sm:text-5xl
  md:text-[3.45rem] md:my-3
  lg:text-7xl;
}

.banner-content > h2 {
  @apply font-light text-sm
  sm:text-base
  md:self-start md:pl-1
  lg:font-light lg:text-2xl;
}

@media (max-width: 640px) {
  .banner-content > h3 {
    text-shadow: 0 0 20px rgba(0, 0, 0, 1.5);
  }
}
