.banner-section {
  background-clip: content-box;
  @apply w-full min-h-[auto] rounded-[3.6vw] grid grid-cols-2 grid-rows-2 md:max-h-[33.7rem] lg:max-h-full;
}

.background-clouds {
  @apply relative w-full object-cover z-[-1] rounded-[3vw] col-span-full row-span-full lg:max-h-[44vw];
}

.banner-content {
  @apply flex flex-col justify-start col-start-1 col-end-2 row-start-2 row-end-auto text-white tracking-widest
  md:items-end lg:items-center lg:px-44;
}

.banner-content > h3 {
  @apply my-2 font-normal text-base md:self-end lg:text-xl lg:self-end lg:pr-0.5;
}

.banner-content > h1 {
  @apply font-medium sm:text-5xl md:text-6xl md:my-1 lg:text-7xl;
}

.banner-content > h2 {
  @apply text-xl font-medium self-start md:pl-5 lg:pl-2.5 lg:text-2xl;
}

@media (max-width: 840px) {
  h2, h3 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
  }

  h1 {
    text-shadow: 0 0 2rem rgba(0, 0, 0, 1);
  }
}

